<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>

<div class="bg-light" id="backgroundColor">
    <hr>
    <small>
        CST 336: Internet Programming. 2019 &copy; <br/>
        Used for academic purpose only.
    </small>
    <figure>
        <img src="img/CSUMB_logo.jpg" class="rounded" alt="California State University Monterey Bay logo"/>
    </figure>
    <br><br><br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script SRC="js/functions.js"></script>
</body>
</html>