<div class="bg-light" id="backgroundColor">

    <hr>
    &copy; 2019. <br>
    Disclaimer: The information in this page might be inaccurate.
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script SRC="js/functions.js"></script>
</body>
</html>