<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a id="account" href="/account">Your account</a>
    <a href="/groups">My groups</a>
</div>

<br><br>

your account
<br><br>
<script>

</script>
<% include partials/footer %>
