<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a id="account" href="/account">Your account</a>
    <a href="/groups">My groups</a>
</div>

<br><br>

your account
<br><br>

<div class="d-flex justify-content-center p-2">
    <div class="d-flex flex-column">
        <div class="p-2">
            <img id="pic0" class="rounded" src="">
        </div>
    </div>
</div>

<br><br>
<form action="/logout">
    <button class="btn btn-lg btn-danger">Logout</button>
</form>
<script>

    /* global $ */
    var API_KEY = "13831310-cbee89d52c56545c1331abbec";
    var things = ['dog', 'cat', 'bird', 'grandpa', 'grandma', 'rock', 'tree', 'computer', 'light', 'water', 'sand'];
    var thing = things[Math.floor(Math.random() * things.length)];
    var rand = Math.floor(Math.random() * 21);

    $(document).ready(function () {

        $.ajax({
            method: "GET",
            url: "https://pixabay.com/api/?key=" + API_KEY + "&q=" + thing + "&orientation=vertical",
            dataType: "json",
            data: {"state": $("#state").val()},
            success: function (result, status) {
                console.log("https://pixabay.com/api/?key=" + API_KEY + "&q=" + "dog" + "&orientation=vertical");
                $("#pic0").attr("src", result.hits[rand].previewURL);
            }
        });//ajax
    });//ready
</script>

<% include partials/footer %>
