<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a id="account" href="/account">Your account</a>
    <a href="/groups">My groups</a>
</div>

<br><br>
<h3>Your Account</h3>

<div id="uname"></div>
<br>
<div id="fname"></div>
<br>
<div id="lname"></div>

<br><br>

<div class="d-flex justify-content-center p-2">
    <div class="d-flex flex-column">
        <div class="p-2">
            <img id="pic0" class="rounded" src="">
        </div>
    </div>
</div>


<p><a id="update" class="btn btn-outline-success" href="/updateAccount"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Update Account</a></p>

<p><a id="delete" class="btn btn-outline-danger" href="/deleteAccount"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Delete</a></p>

<br><br>
<script>

    /* global $ */
    var API_KEY = "13831310-cbee89d52c56545c1331abbec";
    var things = ['dog', 'cat', 'bird', 'grandpa', 'grandma', 'rock', 'tree', 'computer', 'light', 'water', 'sand'];
    var thing = things[Math.floor(Math.random() * things.length)];
    var rand = Math.floor(Math.random() * 21);

    $(document).ready(function () {
        users();

        function users() {
            $.ajax({
                method: "GET",
                url: "/getUserInfo",
                dataType: "json",
                success: function (result, status) {
                    $("#uname").html("Username: " + result[0].username);
                    $("#fname").html("First Name: " + result[0].firstName);
                    $("#lname").html("Last Name: " + result[0].lastName);
                }
            });//ajax
        }//users

        $.ajax({
            method: "GET",
            url: "https://pixabay.com/api/?key=" + API_KEY + "&q=" + thing + "&orientation=vertical",
            dataType: "json",
            data: {"state": $("#state").val()},
            success: function (result, status) {
                $("#pic0").attr("src", result.hits[rand].previewURL);
            }
        });//ajax
    });//ready

    var popupWindow = null;

    function centeredPopup(url, winName, w, h, scroll) {
        LeftPosition = (screen.width) ? (screen.width - w) / 2 : 0;
        TopPosition = (screen.height) ? (screen.height - h) / 2 : 0;
        settings =
            'height=' + h + ',width=' + w + ',top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=' + scroll + ',resizable'
        popupWindow = window.open(url, winName, settings)
    }
</script>

<% include partials/footer %>
