<% include partials/header.ejs %>

<div class="topnav">
    <a id="dashboard" href="/dashboard">Your personal schedule</a>
    <a href="/account">Your account</a>
    <a href="/groups">My groups</a>
</div>
<br><br>
<h4>My Schedule</h4>


<br><br>

<p><a href="/addAppointment"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Add new appointment!</a></p>
<p><a href="/deleteAppointment"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Delete an appointment!</a></p>

<br><br>

<form action="/logout">
    <button class="btn btn-lg btn-danger">Logout</button>
</form>

<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>
<script>
    $(document).ready(function () {

        function getUsersEvents(){

        }

    });

    var popupWindow = null;

    function centeredPopup(url, winName, w, h, scroll) {
        LeftPosition = (screen.width) ? (screen.width - w) / 2 : 0;
        TopPosition = (screen.height) ? (screen.height - h) / 2 : 0;
        settings =
            'height=' + h + ',width=' + w + ',top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=' + scroll + ',resizable'
        popupWindow = window.open(url, winName, settings)
    }
</script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
<% include partials/footer %>
