<% include partials/header.ejs %>

<div class="topnav">
    <a id="dashboard" href="/dashboard">Your personal schedule</a>
    <a href="/account">Your account</a>
    <a href="/appointment">Add appointment</a>
    <a href="/groups">My groups</a>
</div>

<br><br>

You are logged in!

<br><br>

test



<br><br>
<br><br>
<br><br>
test1
<br><br>
<br><br>
<br><br>
<br><br>
test

<br><br>
<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>
<br><br>
<% include partials/footer %>
