<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

    <!--ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body class="text-center">
<br>
<h4>Edit appointment!</h4>
<br>

Date: <input type="date" id="date" name="date"><br> <br>
Start time: <input type="time" id="startTime" name="startTime"><br> <br>
End time: <input type="time" id="endTime" name="endTime"><br> <br>
Description: <input type="text" id="description" name="description">
<br><br>
"First enter information about appointment, then click "get appointment".
<br>
Change the information and click "change appointment"."
<br>
<button id="getAppointmentBtn" class="btn btn-lg btn-info">Get appointment!</button>
<button id="changeAppointmentBtn" class="btn btn-lg btn-info">Change appointment!</button>
<br><br>
<div id="editAppointmentError"></div>
<br>
<script>
    let appointmentId = 0;

    //get appointmentId so that user can edit the appointment afterwards
    $("#getAppointmentBtn").on("click", function () {
        let date = $("#date").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let description = $("#description").val();

        $("#editAppointmentError").hide();
        if (date == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a date!");
            $("#editAppointmentError").show();
            return;
        } else if (startTime == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a start time!");
            $("#editAppointmentError").show();
            return;
        } else if (endTime == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a end time!");
            $("#editAppointmentError").show();
            return;
        } else if (description == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a description!");
            $("#editAppointmentError").show();
            return;
        }

        $.ajax({
            method: "GET",
            url: "/getAppointmentRequest",
            dataType: "json",
            data: {
                "date": date,
                "startTime": startTime,
                "endTime": endTime,
                "description": description
            },
            success: function (result, status) {
                $("#editAppointmentError").hide();
                if (result == false) {
                    $("#editAppointmentError").attr("class", "text-danger");
                    $("#editAppointmentError").html("Sorry, your appointment was not found.");
                    $("#editAppointmentError").show();
                } else {
                    appointmentId = result[0].appointmentId;
                    $("#editAppointmentError").attr("class", "text-success");
                    $("#editAppointmentError").html("Appointment was found. You can edit it now.");
                    $("#editAppointmentError").show();
                }
            }
        });//ajax
    });//getAppointmentBtn

    //user edits appointment
    $("#changeAppointmentBtn").on("click", function () {
        let date = $("#date").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let description = $("#description").val();

        $("#editAppointmentError").hide();
        if (appointmentId == 0) {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Appointment cannot be changed!");
            $("#editAppointmentError").show();
            return;
        } else if (date == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a date!");
            $("#editAppointmentError").show();
            return;
        } else if (startTime == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a start time!");
            $("#editAppointmentError").show();
            return;
        } else if (endTime == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a end time!");
            $("#editAppointmentError").show();
            return;
        } else if (description == "") {
            $("#editAppointmentError").attr("class", "text-danger");
            $("#editAppointmentError").html("Please enter a description!");
            $("#editAppointmentError").show();
            return;
        }

        $.ajax({
            method: "GET",
            url: "/changeAppointmentRequest",
            dataType: "json",
            data: {
                "appointmentId": appointmentId,
                "date": date,
                "startTime": startTime,
                "endTime": endTime,
                "description": description
            },
            success: function (result, status) {
                $("#editAppointmentError").hide();
                if (result == false) {
                    $("#editAppointmentError").attr("class", "text-danger");
                    $("#editAppointmentError").html("Sorry, your appointment could not be changed.");
                    $("#editAppointmentError").show();
                } else {
                    $("#editAppointmentError").attr("class", "text-success");
                    $("#editAppointmentError").html("Appointment was changed.");
                    $("#editAppointmentError").show();
                }
            }
        });//ajax
    });//changeAppointmentBtn

</script>
</body>
</html>