<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a href="/account">Your account</a>
    <a id="groups" href="/groups">My groups</a>
</div>

<br><br>
My groups
<br><br>

Groupname:      Groupmember:

<div id="group"></div> <div id="member"></div>


<div id="message"></div>
<br><br>
<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>
<br><br>
<script>
    $(document).ready(function () {

        getUsersGroups();

        function getUsersGroups() {
            $.ajax({
                method: "GET",
                url: "/getUsersGroups",
                dataType: "json",
                success: function (result, status) {
                    let key = "";
                    $("#message").hide();

                    if (result.length == 0) {
                        $("#message").attr("class", "text-info");
                        $("#message").html("You currently don't have any groups.")
                        $("#message").show();
                    } else {
                        for (let i = 0; i < result.length; i++) {
                            $("#group").append(`<div name="group" id="${i}">`);
                        }

                        $("#h").html("Description - date - start time - end time");

                        for (let i = 0; i < result.length; i++) {
                            str = result[i].date;
                            date = str.substring(0, 10);
                            key = "\#" + i;
                            $(key).html(result[i].description + " - " + date + " - " + result[i].startTime + " - " + result[i].endTime);
                        }
                    }
                }
            });//ajax
        }//getUsersEvents
    });//ready

    var popupWindow = null;

    function centeredPopup(url, winName, w, h, scroll) {
        LeftPosition = (screen.width) ? (screen.width - w) / 2 : 0;
        TopPosition = (screen.height) ? (screen.height - h) / 2 : 0;
        settings =
            'height=' + h + ',width=' + w + ',top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=' + scroll + ',resizable'
        popupWindow = window.open(url, winName, settings)
    }
</script>
<% include partials/footer %>
