<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a href="/account">Your account</a>
    <a href="/appointment">Add appointment</a>
    <a id="groups" href="/groups">My groups</a>
</div>

<br><br>

My groups
<br><br>
<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>
<br><br>
<% include partials/footer %>
