<% include partials/header.ejs %>

<div class="topnav">
    <a href="/dashboard">Your personal schedule</a>
    <a href="/account">Your account</a>
    <a id="groups" href="/groups">My groups</a>
</div>

<br><br>
<h3>Groups</h3>
<br>

<table class="centered">
    <tr id="table-header">
        <td><strong>Groupname</strong></td>
        <td><strong>Groupmember</strong></td>
    </tr>
    <tr class="table-row">
        <td>
            <div id="group"></div>
        </td>
        <td>
            <div id="member"></div>
        </td>
    </tr>
</table>
<div id="message"></div>

<br><br>

<p><a class="btn btn-outline-success" href="/addGroup"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Add new Group!</a></p>
<p><a class="btn btn-outline-success" href="/addMemberToGroup"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Add member to a group!</a></p>
<p><a class="btn btn-outline-danger" href="/deleteGroup"
      onclick="centeredPopup(this.href,'myWindow','800','450','yes');return false">Delete a group!</a></p>
<br><br>

<h3>Show availability!</h3>

<br><br>
Group name:
<select name="allGroups" id="allGroups">
    <option value=""> Select One</option>
    <% groups.forEach(function(i){ %>
        <option> <%= i.groupName %>  </option>
    <% }); %>
</select>
<br><br>
<button id="availabilityBtn" class="btn btn-lg btn-info">Get availability!</button>
<br><br>
<div id="h"></div>
<br>
<div id="resultAvailability"></div>
<br><br>
<div id="availabilityError"></div>

<script>
    $(document).ready(function () {

        getUsersGroups();

        function getUsersGroups() {
            $.ajax({
                method: "GET",
                url: "/getUsersGroups",
                dataType: "json",
                success: function (result, status) {
                    let groupKey = "";
                    let memberKey = "";

                    $("#message").hide();

                    if (result.length == 0) {
                        $("#message").attr("class", "text-info");
                        $("#message").html("You currently don't have any groups.")
                        $("#message").show();
                    } else {
                        for (let i = 0; i < result.length; i++) {
                            $("#group").append(`<div name="group" id="group${i}">`);
                            $("#member").append(`<div name="member" id="member${i}"</div>`);
                        }

                        for (let i = 0; i < result.length; i++) {
                            groupKey = "\#group" + i;
                            $(groupKey).html(result[i].groupname);
                            memberKey = "\#member" + i;
                            $(memberKey).html(result[i].username);

                        }
                    }
                }
            });//ajax
        }//getUsersEvents
    });//ready

    $("#availabilityBtn").on("click", function () {
        let groupName = $("#allGroups").val();

        $("#availabilityError").hide();
        if (groupName == "" || groupName == "Select one") {
            $("#availabilityError").attr("class", "text-danger");
            $("#availabilityError").html("Please select a group.");
            $("#availabilityError").show();
            return;
        }

        $.ajax({
            method: "GET",
            url: "/getAvailability",
            dataType: "json",
            data: {
                "groupName": groupName
            },
            success: function (result, status) {
                let str = "";
                let date = "";
                $("#resultAvailability").empty();
                for (let i = 0; i < result.length; i++) {
                    $("#resultAvailability").append(`<div name="resultAvailability" id="${i}"></div>`);
                }

                $("#h").html("Username - Description - Date - Start time - End time");

                for (let i = 0; i < result.length; i++) {
                    str = result[i].date;
                    date = str.substring(0, 10);
                    let key = "\#" + i;
                    $(key).html(result[i].username + " - " + result[i].description + " - " + date + " - " + result[i].startTime + " - " + result[i].endTime);
                }
            }
        });//ajax

    });

    var popupWindow = null;

    function centeredPopup(url, winName, w, h, scroll) {
        LeftPosition = (screen.width) ? (screen.width - w) / 2 : 0;
        TopPosition = (screen.height) ? (screen.height - h) / 2 : 0;
        settings =
            'height=' + h + ',width=' + w + ',top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=' + scroll + ',resizable'
        popupWindow = window.open(url, winName, settings)
    }
</script>
<% include partials/footer %>
