<% include partials/header.ejs %>

Username: <input type="text" name="username">
<br><br>
Password: <input type="text" name="password">
<br><br>
<button id="loginBtn" class="btn btn-lg btn-info"> Login</button>
<button id="signUpBtn" class="btn btn-lg btn-info"> Sign up here!</button>
<br><br>
<div id="loginError"></div>
<% include partials/footer %>
