<% include partials/header.ejs %>

Username: <input type="text" name="username">
<br>
Password: <input type="text" name="password">
<br><br>
<button id="loginBtn"> Login</button>
<button id="signUpBtn"> Sign up here!</button>

<% include partials/footer %>