<% include partials/header.ejs %>

Username: <input type="text" id="s_username" name="s_username">
<br><br>
First name: <input type="text" id="s_firstName" name="s_firstName">
<br><br>
Last name: <input type="text" id="s_lastName" name="s_lastName">
<br><br>
Password: <input type="text" id="s_password" name="s_password">
<br><br>
<button id="signingUpBtn" class="btn btn-lg btn-info"> Sign up </button>
<br><br>
<div id="signUpError"></div>
<script>
    // user signs up
    $("#signingUpBtn").on("click", function () {
        let username = $("#s_username").val();
        let firstName = $("#s_firstName").val();
        let lastName = $("#s_lastName").val();
        let password = $("#s_password").val();

        $.ajax({
            method: "GET",
            url: "/signingUpRequest",
            dataType: "json",
            data: {
                "username": username,
                "firstName": firstName,
                "lastName": lastName,
                "s_password": password
            },
            success: function (result, status) {
                if (result == false) {
                    $("#signUpError").html("Username already taken. Please try again.");
                } else {
                    $("#signUpError").html("Registration was successful.");
                }
            }

        });//ajax
    });//signUpBtn
</script>
<% include partials/footer %>
