<% include partials/header.ejs %>

Username: <input type="text" id="s_username" name="s_username">
<br><br>
First name: <input type="text" id="s_firstName" name="s_firstName">
<br><br>
Last name: <input type="text" id="s_lastName" name="s_lastName">
<br><br>
Password: <input type="text" id="s_password" name="s_password">
<br><br>
<button id="signingUpBtn" class="btn btn-lg btn-info"> Sign up </button>
<br><br>
<div id="signUpError"></div>

<% include partials/footer %>
