<% include partials/header.ejs %>

Username: <input type="text" name="username">
<br>
First name: <input type="text" name="firstName">
<br>
Last name: <input type="text" name="lastName">
<br>
Password: <input type="text" name="password">
<br><br>
<button id="signUpBtn"> Sign up </button>


<% include partials/footer %>